.topbar{
    width: 100%;
    min-height: 70px;
    max-height: 90px;
    height: 16%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(42, 40, 40);
}
.menu{
   align-items: center;
   /* margin-left: 15px; */
   min-height: 100%;
   /* background-color: aliceblue; */
}
.menu-item {
    align-items: center;
    height: 100%;
}
.menu-logo {
    width: 40px;
    height: 80%;
    background-color: rgb(14, 153, 213);
    border-radius: 20%;
    cursor: pointer;
    object-fit: cover;
}
.menu p{
   font-size: 13px; 
}
.talent-logo{
    width: 60px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.search{
    height: 35px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: black;
}
.leftmenu {
    align-items: center;
    font-size: 24px;
}
.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    margin-left:50px;
}
.profile-img {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    object-fit: cover;
}


   /* rightsidebar */


.footer {  
    max-height:80px;  
    min-height: 70px;
    height: 17%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: "fixed";
    left: 0;
    bottom:0;
    width: "100%";
    /* background-color: black; */
   
    background-color: rgb(42, 40, 40);
}

.menu-item p {
  font-size: 13px;
}
.challenge-logo {
    width: 40px;
    height: 70%;
    border-radius: 20%;
    cursor: pointer;
    object-fit: cover;
    background-color: white;
}
